body{
	height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgba(39,84,114,1) 0%, rgba(254,141,98,1) 70%, rgba(254,225,73,1) 100%);

}
.nav-link{
	color:white;
}

label{
	color: white;
}
