body {
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(252, 252, 252);
}

.nav-link {
    color: black;
}

label {
    color: black;
}